
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Variables */
  --desktop-width: 1440px;
  --mobile-width: 375px;
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  --main-background: hsl(217, 54%, 11%); /* main background */
  --card-background: hsl(216, 50%, 16%);
  --line-color: hsl(215, 32%, 27%);

  font-family: "Outfit", sans-serif;
  color: var(--soft-blue);
  font-size: 18px;
}

body {
  background-color: var(--main-background);
  display: grid;
  place-items: center;
  height: 100vh;
}

.card {
  background-color: var(--card-background);
  width: 15rem;
  display: grid;
  place-items: center;
  padding: 1rem;
}

.card, .nft-image, .nft-image-hover-container {
  border-radius: .35em;
}

.nft-image-container {
  position: relative;
  width: 100%;
  height: 13rem; /* card width minus padding */
}

.nft-image {
  width: 100%;
  height: 100%;
}

.nft-image-hover-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: var(--cyan);
  opacity: 0;
}

.nft-image-container::after {
  content: url("images/icon-view.svg");
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: grid;
  place-items: center;
  opacity: 0;
}

.nft-image-container:hover {
  cursor: pointer;
}

.nft-image-container:hover > .nft-image-hover-container {
  opacity: .4;
}

.nft-image-container:hover::after {
  opacity: 1;
}


.card-info-container {
  font-size: .70rem;
}

.title {
  font-size: 1rem;
}

.title:hover, .author-name:hover {
  color: var(--cyan);
  cursor: pointer;
}

.description, .metadata-container {
  padding-bottom: .75rem;
}

.description {
  line-height: 1.1rem;
}

.title, .author-name {
  color: white;
  padding: .75rem 0;
}

.metadata-container, .metadata-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.icon {
  height: .8rem;
  padding-right: .25rem;
}

.eth {
  color: var(--cyan);
}

.line {
  background-color: var(--line-color);
  height: 1px;
}

.author-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: .75rem 0;
}

.avatar {
  height: 1.75rem;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: .5rem;
}